<div class="fw-bold grid grid-cols-1 justify-items-center container ml-3 text-in-button">
  <div class="text-xl mb-3 mt-3"></div>
</div>

<div [style]="isEmpty ? 'display: block; text-align: center;': ''"
     class="whitebox flex flex-column justify-center text-in-button my-10">

  <div class="hidden flex-row container w-full">
    <div class="flex flex-row w-full justify-between" style="align-items: center;">
      <button class="text-blue-400 hover:text-blue-600">Edit Favourites</button>
      <button class="text-red-400 hover:text-red-600">Clear List</button>
    </div>
  </div>
  <div class="flex flex-row container w-full mb-2">
    <div class="flex flex-row w-full text-blue-950 bg-blue-50" style="align-items: center; border-radius: 4px;">
      <i class="bi-search opacity-60 ml-4" style="color: #235491"></i>
      <input (input)="searchChanged()" [(ngModel)]="search" class="max-h-[2.5rem] my-0 inputfield mx-4 bg-blue-50"
             id="q" name="q" placeholder="Search in Current List">
      <button class="bi-x-lg mr-2" (click)="search = ''; searchChanged();" style="color:#1e5075"></button>
    </div>
  </div>
  <hr class="mt-0 ml-4 mb-4 w-full" style="border: 2px solid #CDE2F0;">






  <div class="mb-4 w-full">
    <table class="container w-fit" style="max-width: 1200px !important;">
      <colgroup>
        <col style="width: 30%;">
        <col style="width: 30%;">
        <col style="width: 30%;">
        <col style="width: 10%;">
      </colgroup>
      <thead [hidden]="applied === null || applied.length === 0">

      <tr class="disabled font-bold text-orange-700 h-8">
        <i class="bi-clock mr-2"></i>
        Requested
      </tr>
      <th style="font-weight: 600">Name</th>
      <th style="font-weight: 600">E-Mail</th>
      <th style="font-weight: 600">Birthdate</th>
      </thead>
      <tbody [hidden]="applied === null || applied.length === 0" >
      <tr *ngFor="let registration of applied" class="w-full h-10 hover:cursor-pointer" [routerLink]="'patient/' + registration.patient.id">
        <td>{{registration.patient.firstName}} {{registration.patient.lastName}}</td>
        <td>{{registration.patient.email}}</td>
        <td>{{registration.patient.birthdate | date: 'dd.MM.yyyy'}}</td>
        <td>
          <app-confirm-button (confirm)="accept(registration)"
          details="Patient will be registered for trial.">
          <button
            aria-label="Accept registration"
            class="flex-initial bg-green-100 rounded w-fit py-1 px-2 text-green-700 font-semibold border-green-700 drop-shadow-sm text-sm"
            style="border-width: 1px;">
            <i class="bi bi-check"></i>
          </button>
          </app-confirm-button>
          <app-confirm-button (confirm)="decline(registration)"
          details="Patient will be declined for trial.">
          <button
            aria-label="Decline registration"
            class="flex-initial bg-red-100 rounded w-fit py-1 px-2 text-red-700 font-semibold border-red-700 drop-shadow-sm ml-1 text-sm"
            style="border-width: 1px;">
            <i class="bi bi-x"></i>
          </button>
          </app-confirm-button>
        </td>
      </tr>
      <tr class="h-10"></tr>

      </tbody>
      <thead [hidden]="accepted === null || accepted.length === 0">

      <tr class="disabled font-bold text-green-700 h-8">
        <i class="bi-check-lg mr-2"></i>
        Accepted
      </tr>
      <th style="font-weight: 600">Name</th>
      <th style="font-weight: 600">E-Mail</th>
      <th style="font-weight: 600">Birthdate</th>
      </thead>
      <tbody [hidden]="accepted === null || accepted.length === 0">
      <tr *ngFor="let registration of accepted" class="w-fit h-10 hover:cursor-pointer" [routerLink]="'patient/' + registration.patient.id">
        <td>{{registration.patient.firstName}} {{registration.patient.lastName}}</td>
        <td>{{registration.patient.email}}</td>
        <td>{{registration.patient.birthdate | date: 'dd.MM.yyyy'}}</td>
        <td></td>
      </tr>
      <tr class="h-10"></tr>
      </tbody>
      <thead [hidden]="declined === null || declined.length === 0">
      <tr class="disabled font-bold text-red-700 h-8">
        <i class="bi-x-lg mr-2"></i>
        Declined
      </tr>
      <th style="font-weight: 600">Name</th>
      <th style="font-weight: 600">E-Mail</th>
      <th style="font-weight: 600">Birthdate</th>
      </thead>
      <tbody [hidden]="declined === null || declined.length === 0">
      <tr *ngFor="let registration of declined" class="w-fit h-10 hover:cursor-pointer" [routerLink]="'patient/' + registration.patient.id">
        <td>{{registration.patient.firstName}} {{registration.patient.lastName}}</td>
        <td>{{registration.patient.email}}</td>
        <td>{{registration.patient.birthdate | date: 'dd.MM.yyyy'}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>

  <p *ngIf="isEmpty" [innerHTML]="emptyListText" class="text-gray-400"></p>
</div>

