.header {
  /* HeaderOld */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 54px;
  gap: 1000px;

  width: 1920px;
  height: 80px;

  background: #CDE2F0;
  box-shadow: 0 4px 4px rgba(22, 46, 81, 0.2);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo {
  /* Logo */


  width: 196.48px;
  height: 32.92px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.buttons {
  /* Buttons */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 0;
  gap: 30px;

  width: 577px;
  height: 66px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.about {
  /* About This Site */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;

  width: 145px;
  height: 20px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}


.data {
  /* Data About Studies */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;

  width: 175px;
  height: 20px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.res {
  /* Resources */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;

  width: 109px;
  height: 20px;


  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.profile {
  /* Icons */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 4px;

  width: 58px;
  height: 34px;


  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

.down {
  /* heroicons-mini/chevron-down */


  width: 20px;
  height: 20px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
