<div class="fw-bold grid grid-cols-1 justify-items-center container ml-3">
  <div class="text-xl mt-3">Statistics</div>
</div>
<div class="grid grid-cols-1 justify-items-center container ml-3">
  <div class="text-lg text-slate-800">{{title}}</div>
</div>

<div class="flex flex-col mt-10 justify-items-center container">

  <div class="flex max-lg:hidden mb-5 justify-center">
    <div class="flex flex-col">
      <div class="fw-bold mb-1">Age (Accepted)</div>
      <div class="p-3 w-130 rounded shadow bg-white hover:cursor-crosshair flex-initial justify-center">
        <div class="relative">
          <canvas #age></canvas>
          <p *ngIf="!acceptedVisible" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 text-slate-700 font-semibold text-center">
            You have not yet accepted any registrations.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-row justify-between container md:flex-col">

    <div class="flex items-center max-sm:hidden ml-56">
      <div class="flex flex-col">
        <p class="fw-bold mb-1">Gender (Accepted)</p>
        <div class="py-3 w-80 rounded shadow bg-white hover:cursor-crosshair flex-initial justify-center">
          <div class="relative">
            <canvas #gender></canvas>
            <p *ngIf="!acceptedVisible" class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 text-slate-700 font-semibold text-center">
              You have not yet accepted any registrations.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center max-lg:hidden mr-56">
      <div class="flex flex-col">
        <div class="fw-bold mb-1">Status</div>
        <div class="py-3 w-80 rounded shadow bg-white hover:cursor-crosshair flex-initial justify-center">
          <canvas #status></canvas>
        </div>
      </div>
    </div>

  </div>

  <div class="flex max-lg:hidden mt-5 justify-center">
    <div class="flex flex-col">
      <div class="fw-bold mb-1">Registrations</div>
      <div class="p-3 w-130 rounded shadow bg-white hover:cursor-crosshair flex-initial justify-center">
        <canvas #date1></canvas>
      </div>
    </div>
  </div>

</div>
