<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Add Examination</title>
</head>

<div class="whitebox flex justify-center container mt-10 {{!imageFocus ? 'backdrop-filter backdrop-blur-md' : ''}}">
  <div class="fw-bold grid grid-cols-1 justify-items-center container mt-3 ml-3">
    <div class="text-lg">{{heading}}</div>
  </div>
  <hr class="container">

  <div class="container flex flex-col" [formGroup]="examForm">
    <div class="flex flex-col">
      <div class="flex md:flex-row flex-col">
        <div class="flex flex-col flex-1">
          <input type="text" placeholder="Name of Examination"
                 class="max-h-[2.5rem] mr-2 h-10 mb-2 mt-2 inputfield border-0"
                 formControlName="name">
        </div>
        <div class="flex flex-col flex-1">
          <input type="date" placeholder="Date of Examination"
                 class="max-h-[2.5rem] mr-2 h-10 mb-2 mt-2 inputfield border-0"
                 formControlName="date">
        </div>
        <div class="flex flex-col flex-1">
          <input type="text" placeholder="Type" class="max-h-[2.5rem] h-10 mb-2 mt-2 inputfield border-0"
                 formControlName="type">
        </div>
      </div>
      <div class="flex flex-col flex-1">
          <textarea maxlength="1000" class="h-10 mb-2 inputfield border-0 min-h-[5rem]"
                    placeholder="Enter the examination notes for your patient"
                    formControlName="note"></textarea>
      </div>
    </div>
  </div>

  <hr class="container">

  <div class="relative container flex items-center justify-center flex-col">
    <button *ngIf="image !== ''" (click)="deleteImage(fileInput)"
            class="absolute top-0 right-0 mt-2 mr-2 transition ease-in-out delay-100 duration-300 bg-red-500 rounded w-35 p-2 h-10 text-white
              hover:-translate-y-0 hover:scale-110 hover:bg-red-400 hover:cursor-pointer">
      <i class="bi bi-trash"></i>
    </button>

    <label class="block mb-10">
      <span class="sr-only">Choose profile photo</span>
      <input type="file" #fileInput (change)="handleTempImageUpload($event)"
             accept="image/jpeg, image/png"
             class="block w-full text-sm text-slate-500
      file:mr-4 file:py-2 file:px-4
      file:rounded-full file:border-0
      file:text-sm file:font-semibold
      file:bg-blue-500 file:text-white
      hover:file:bg-blue-400 hover:cursor-pointer" (click)="fileInput.click()"
    />
    </label>

    <img *ngIf="image !== ''" [src]="image" alt="Selected Image" (click)="zoomImage($event)"
         class="{{!imageFocus ? 'w-25 transition ease-in-out hover:cursor-pointer delay-100 ' +
          'duration-300 hover:-translate-y-0 hover:scale-110' : ''}}" />
  </div>

  <hr class="container">

  <div class="flex flex-row container" style="justify-content: space-between;">
    <div>
      <button (click)="submit()"
              class="transition ease-in-out delay-100 duration-300 bg-blue-500 hover:-translate-y-0 hover:scale-110 hover:bg-blue-400 hover:cursor-pointer rounded w-35 p-2 mt-2 h-10 text-white"
              [style.background-color]="examForm.valid ? 'rgb(59 130 246 / 100%)' : 'rgb(59 130 246 / 50%)'">
      Submit Examination
      </button>
      <button (click)="returnToPatient()"
              class="transition ease-in-out delay-100 duration-300 bg-gray-400 hover:-translate-y-0 hover:scale-110 hover:bg-gray-500 hover:cursor-pointer rounded w-35 p-2 mt-2 ml-3 h-10 text-white">
        Cancel
      </button>
    </div>
    <button *ngIf="isEditMode()" (click)="delete()"
            class="transition ease-in-out delay-100 duration-300 bg-red-500 rounded w-35 p-2 mt-2 mr-2 h-10 text-white
                  hover:-translate-y-0 hover:scale-110 hover:bg-red-400 hover:cursor-pointer">
      Delete
    </button>
  </div>
</div>
