<div class="whitebox flex justify-center container mt-5 text-blue-950 relative">
  <div class="fw-bold grid grid-cols-1 justify-items-center container mt-3 ml-3">
    <div class="text-lg">{{trialList.name}}</div>
  </div>

  <hr class="container">

  <div *ngIf="trialList.trial" class="flex flex-col divide-y-[3px] w-[96%] mx-auto divide-[#CDE2F0]/[0.25]">
      <app-trial-list-item *ngFor="let trial of trialList.trial" class="py-2"
          [trial]="trial"
          [showStatisticsButton]="false"
          [showEditButton]="false"
          [showDeleteButton]="true"
          [showListSelector]="false"
          [deleteText]="'Trial will be deleted from your list.'"
          (deleteTrial)="deleteTrialFromList(trial.id)">

      </app-trial-list-item>
  </div>

</div>
