<div class="whitebox flex justify-center container mt-5 text-blue-950 relative">
  <div class="fw-bold grid grid-cols-1 justify-items-center container mt-3 ml-3">
    <div class="text-lg">{{trialList.name}}</div>
  </div>

  <hr class="container">

  <div *ngIf="trialList.trial" class="flex flex-col divide-y-[3px] w-[96%] mx-auto divide-[#CDE2F0]/[0.25]">
      <app-trial-list-item *ngFor="let trial of trialList.trial" class="py-2"
          [trial]="trial">
        <app-confirm-button (confirm)="deleteTrialFromList(trial.id)" details="Trial will be deleted from your list.">
          <button class="btn btn-sm rounded btn-danger">
            <i class="bi bi-trash"></i>
          </button>
        </app-confirm-button>
      </app-trial-list-item>
  </div>

</div>
