<div class="whitebox flex justify-center container mt-5 text-blue-950 relative">
  <div class="fw-bold grid grid-cols-1 justify-items-center container mt-3 ml-3">
    <div class="text-lg">Update Profile</div>
  </div>

  <hr class="container">

  <form [formGroup]="editForm" class="container">
    <div class=" grid grid-cols-2">
      <div class="flex flex-row">
        <div class="flex flex-col flex-initial">
          <div class="font-semibold mb-3 mt-3">
            <i class="bi bi-person-fill mr-1"></i>
            First Name:
          </div>
          <div class="font-semibold mb-3 mt-3">
            <i class="bi bi-envelope-at-fill mr-1"></i>
            E-Mail:
          </div>
          <div class="font-semibold mb-3 mt-3">
            <i class="bi bi-key-fill mr-1"></i>
            New Password:
          </div>
        </div>
        <div class="flex flex-col flex-1">
          <input type="text" formControlName="firstName" class="ml-5 mr-5 h-10 mb-2 mt-2 inputfield border-0"
                 placeholder="Enter your first name">
          <input type="text" formControlName="email" class="ml-5 mr-5 h-10 mb-2 mt-2 inputfield border-0"
                 placeholder="Enter your email">
          <input type="password" formControlName="password" class="ml-5 mr-5 h-10 mb-2 mt-2 inputfield border-0"
                 placeholder="Enter your new password">
        </div>
      </div>

      <div class="flex flex-row">
        <div class="flex flex-col flex-initial">
          <div class="font-semibold mb-3 mt-3">
            <i class="bi bi-person-fill mr-1"></i>
            Last Name:
          </div>
          <div class="font-semibold mb-3 mt-3">
            <i class="bi bi-envelope-at-fill mr-1"></i>
            Repeat E-Mail:
          </div>
          <div class="font-semibold mb-3 mt-3">
            <i class="bi bi-key-fill mr-1"></i>
            Repeat Password:
          </div>
        </div>
        <div class="flex flex-col flex-1">
          <input type="text" formControlName="lastName" class="ml-5 mr-5 h-10 mb-2 mt-2 inputfield border-0"
                 placeholder="Enter your last name">
          <input type="text" formControlName="repeatMail" class="ml-5 mr-5 h-10 mb-2 mt-2 inputfield border-0"
                 placeholder="Repeat your email">
          <input type="password" formControlName="repeatPassword" class="ml-5 mr-5 h-10 mb-2 mt-2 inputfield border-0"
                 placeholder="Repeat your new password">
        </div>
      </div>

    </div>

    <div class="grid">
      <div class="flex flex-row">
        <div class="flex flex-col flex-initial">
          <div class="font-semibold mb-3 mt-3 mr-1">
            <i class="bi bi-key mr-1"></i>
            Old Password:
          </div>
        </div>
        <input type="password" formControlName="oldPassword" class="ml-6 mr-5 h-10 mb-2 mt-2 inputfield border-0"
               placeholder="Enter your current password">
      </div>
    </div>

    <div class="grid grid-cols-2">
      <div class="flex flex-row">
        <div class="flex flex-col flex-initial">
          <button
            class="transition ease-in-out delay-100 duration-300 bg-blue-500 hover:-translate-y-0 hover:scale-110 hover:bg-blue-400 rounded w-35 p-2 mt-2 h-10 text-white mr-5"
            style="width:130px"
            [style.background-color]="(editForm.valid) ? 'rgb(59 130 246 / 100%)' : 'rgb(59 130 246 / 50%)'"
            (click)="update()"
          >
            Update
          </button>
        </div>
        <div class="flex flex-col flex-initial">
          <button
            class="transition ease-in-out delay-100 duration-300 bg-slate-400 hover:-translate-y-0 hover:scale-110 hover:bg-slate-300 rounded w-35 p-2 mt-2 h-10 text-white mr-5"
            data-inline="true"
            style="width:130px"
            [routerLink]="''"
          >
            Cancel
          </button>
        </div>
      </div>
      <div class="flex flex-row btn-holder mr-5">
        <app-delete-popup [prompt]="'Delete your account?'" (delete)="delete(user.id)">
          <button
            class="transition ease-in-out delay-100 duration-300 bg-red-500 hover:-translate-y-0 hover:scale-110 hover:bg-red-400 rounded w-35 p-2 mt-2 h-10 text-white"
            data-inline="true"
            style="width:130px"
          >
            Delete Account
          </button>
        </app-delete-popup>
      </div>
    </div>
  </form>
</div>

