
<div class="fw-bold grid grid-cols-1 justify-items-center container mt-3 ml-3 text-in-button">
  <div class="text-xl mb-3 mt-3"></div>
</div>

<div class="whitebox flex justify-center container mb-10 {{pulse()}}">
  <div class="fw-bold grid grid-cols-1 justify-items-center container mt-3 ml-3">
    <div class="text-lg">{{patient.firstName}} {{patient.lastName}}</div>
  </div>

  <hr class="container">

  <div class="container grid lg:grid-cols-2">
    <div class="flex flex-row">
      <div class="flex flex-col flex-initial">
        <div class="fw-bold mb-3 mt-3"><i class="bi bi-person-fill mr-2"></i></div>
        <div class="fw-bold mb-3 mt-3"><i class="bi bi-envelope-at-fill mr-2"></i></div>
        <div class="fw-bold mb-3 mt-3"><i class="bi bi-calendar3-event mr-2"></i></div>
      </div>
      <div class="flex flex-col flex-initial">
        <div class="font-semibold mb-3 mt-3">First Name:</div>
        <div class="font-semibold mb-3 mt-3">E-Mail:</div>
        <div class="font-semibold mb-3 mt-3">Birthdate:</div>
      </div>
      <div class="flex flex-col flex-1">
        <div class="flex flex-col flex-1">
          <span class="border-0 ml-5 mr-5 h-10 pl-2 mb-2 mt-2 inline-flex align-items-center"
          >{{patient.firstName}}</span>
        </div>
        <div class="flex flex-col flex-1">
          <span class="border-0 ml-5 mr-5 h-10 pl-2 mb-2 mt-2 inline-flex align-items-center"
          >{{patient.email}}</span>
        </div>
        <div class="flex flex-col flex-1">
          <span class="border-0 ml-5 mr-5 h-10 pl-2 mb-2 mt-2 inline-flex align-items-center"
          >{{patient.birthdate | date: 'dd.MM.yyyy'}}</span>
        </div>
      </div>
    </div>

    <div class="flex flex-row">
      <div class="flex flex-col flex-initial">
        <div class="fw-bold mb-3 mt-3"><i class="bi bi-person-fill mr-2"></i></div>
        <div class="fw-bold mb-3 mt-3"><i class="bi bi-gender-ambiguous mr-2"></i></div>
        <div class="fw-bold mb-3 mt-3 lg:invisible hidden"></div>
      </div>
      <div class="flex flex-col flex-initial">
        <div class="font-semibold mb-3 mt-3">Last Name:</div>
        <div class="font-semibold mb-3 mt-3">Gender:</div>
        <div class="font-semibold mb-3 mt-3 lg:invisible hidden"></div>
      </div>
      <div class="flex flex-col flex-1">
        <div class="flex flex-col flex-1">
          <span class="border-0 ml-5 mr-5 h-10 pl-2 mb-2 mt-2 inline-flex align-items-center"
          >{{patient.lastName}}</span>
        </div>
        <div class="flex flex-col flex-1">
          <span class="border-0 ml-5 mr-5 pl-2 h-10 mb-2 mt-2 inline-flex align-items-center"
          >{{patient.gender}}</span>
        </div>
        <div class="border-0 ml-5 mr-5 h-10 mb-2 mt-2 inputfield bg-white !invisible max-lg:!hidden">
        </div>
      </div>
    </div>
  </div>

  <hr *ngIf="patient.admissionNote && patient.admissionNote.length > 0"  class="container">

  <div *ngIf="patient.admissionNote && patient.admissionNote.length > 0" class="container flex flex-col">
    <div>
      <div class="flex flex-row">
        <div class="flex flex-row flex-initial">
          <div class="fw-bold mb-2 mt-1"><i class="bi bi-journals mr-2"></i></div>
        </div>
        <div class="flex flex-col flex-initial">
          <div class="font-semibold mb-1 mt-1 mr-1">
            Admission Note
          </div>
        </div>
      </div>
      <div class="flex flex-row">
        <div class="flex flex-col flex-1">
          <span class="mr-5 mb-2 border-0">{{patient.admissionNote}}</span>
        </div>
      </div>
    </div>
  </div>

  <hr  *ngIf="patient.diagnoses && patient.diagnoses.length > 0" class="container">

  <div *ngIf="patient.diagnoses && patient.diagnoses.length > 0"  class="container flex flex-col">

    <div>
      <div class="flex flex-row">
        <div class="flex flex-row flex-initial">
          <div class="fw-bold mb-2 mt-1"><i class="bi bi-activity mr-2"></i></div>
        </div>
        <div class="flex flex-col flex-initial">
          <div class="font-semibold mb-1 mt-1 mr-1">
            Diagnoses
          </div>
        </div>
      </div>
      <table class="w-full">
        <thead>
          <tr class="text-neutral-500 text-md">
            <th class="font-medium">Disease</th>
            <th class="font-medium px-2">Note</th>
            <th class="font-medium">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let diagnosis of patient.diagnoses">
            <td class="align-top">{{diagnosis.disease.name}}</td>
            <td class="w-7/12 px-2">{{diagnosis.note}}</td>
            <td class="align-top">{{diagnosis.date | date: 'dd.MM.yyyy'}}</td>
          </tr>
      </table>
    </div>
  </div>

  <hr *ngIf="patient.examinations && patient.examinations.length > 0"  class="container">

  <div *ngIf="patient.examinations && patient.examinations.length > 0" class="container flex flex-col">


    <div class="flex flex-row">
      <div class="flex flex-row flex-initial">
        <div class="fw-bold mb-2 mt-1"><i class="bi bi-paperclip mr-2"></i></div>
      </div>
      <div class="flex flex-col flex-initial">
        <div class="font-semibold mb-1 mt-1 mr-1">
          Examinations
        </div>
      </div>
    </div>
    <table>
      <thead>
        <tr class="text-neutral-500 text-md">
          <th class="font-medium">Name</th>
          <th class="font-medium px-2">Note</th>
          <th class="font-medium">Type</th>
          <th class="font-medium">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let examination of patient.examinations" (click)="load(examination.id)" class="relative">
          <td class="align-top">{{examination.name}}</td>
          <td class="w-7/12 px-2">{{examination.note}}</td>
          <td class="align-top">{{examination.type}}</td>
          <td class="align-top">{{examination.date | date: 'dd.MM.yyyy'}}</td>
          <img #medicalImages
               class="absolute left-0 right-0 top-100 mx-auto w-3/4 border-2 400 shadow-lg rounded-lg"
               [hidden]="examinationsImageHidden[getIndexById(examination.id)] === undefined || examinationsImageHidden[getIndexById(examination.id)]" alt="Selected Image"
               (click)="examinationsImageHidden[getIndexById(examination.id)] = true"
          />
        </tr>
      </tbody>
    </table>
  </div>

</div>
