<div class="py-2">

  <div class="container grid align-items-center">
    <div class="flex flex-row align-items-center mb-2">
      <div class="fw-bold text-cool-blue-500">
        <span>{{trial.title}}</span>
        <span [class]="trialStatusClass(trial)" class="border-2 rounded ml-3 px-1 py-0.5 text-sm font-medium">{{trialStatus(trial)}}</span>
      </div>
    </div>

    <div class="flex flex-row justify-between mb-2">


      <div class="text-sm font-semibold text-cool-blue-500 ml-4"><i
        class="bi bi-geo-alt-fill mr-1"></i>{{trial.location}}
      </div>

      <div class="text-sm font-semibold text-cool-blue-500 mr-4">
        <i class="bi bi-calendar-week mr-2"></i>
        {{trial.startDate}} - {{trial.endDate}}
      </div>
    </div>

  </div>

  <div class="container mb-2">
    <div class="flex flex-row">
      <div class="font-semibold mr-3">Details:</div>
      <div class="line-clamp-2">{{trial.briefSummary}}</div>
    </div>
  </div>

  <div class="container grid grid-cols-2 align-items-center">
    <div class="flex flex-row">

      <div class="flex flex-col">
        <div class="flex flex-row gap-1">
          <div class="font-semibold">
            Age:
          </div>
          <div>{{trial.crMinAge}} - {{trial.crMaxAge}}</div>
          <div class="font-semibold ml-3">
            Gender:
          </div>
          <div>{{trial.crGender | titlecase}}</div>
        </div>
      </div>
    </div>

    <div class="flex flex-row justify-end">
      <app-confirm-button (click)="buttonClicked($event)" (confirm)="deleteTrial.emit()" details="Trial will be lost permanently." [hidden]="!showDeleteButton">
        <button class="btn btn-sm rounded btn-danger">
          <i class="bi bi-trash"></i>
        </button>
      </app-confirm-button>
      <button class="btn btn-sm rounded btn-warning ml-1"
              (click)="buttonClicked($event); editTrial.emit()"
              [hidden]="!showEditButton"
              aria-label="Edit Trial">
        <i class="bi bi-pencil"></i>
      </button>
      <button class="btn btn-sm rounded btn-secondary ml-1"
              (click)="router.navigate(['./researcher/trials/statistics', trial.id])"
              [hidden]="!showEditButton"
              aria-label="Show Trial Statistics">
        <i class="bi bi-graph-up"></i>
      </button>
    </div>
  </div>
</div>
