<div class="py-2">

  <div class="container grid align-items-center">
    <div class="flex flex-row align-items-center mb-2">
      <div >
        <a class="fw-bold text-cool-blue-500 no-underline hover:text-cool-blue-700 hover:underline" [routerLink]="'/trial/detail/' + trial.id">{{trial.title}}</a>
        <span [class]="trialStatusClass(trial)" class="border-2 rounded ml-3 px-1 py-0.5 text-sm font-medium">{{trialStatus(trial)}}</span>
      </div>
    </div>

    <div class="flex flex-row justify-between mb-2">


      <div class="text-sm font-semibold text-cool-blue-500"><i
        class="bi bi-geo-alt-fill mr-1"></i>{{trial.location}}
      </div>

      <div class="text-sm font-semibold text-cool-blue-500">
        <i class="bi bi-calendar-week mr-2"></i>
        {{trial.startDate | date: 'dd.MM.yyyy'}} - {{trial.endDate | date: 'dd.MM.yyyy'}}
      </div>
    </div>

  </div>

  <div class="container mb-2">
    <div class="flex flex-row">
      <div class="line-clamp-2">{{trial.briefSummary}}</div>
    </div>
  </div>

  <div class="container grid grid-cols-2 align-items-center">
    <div class="flex flex-row">

      <div class="flex flex-col">
        <div class="flex flex-row gap-1">
          <div class="font-semibold">
            Age:
          </div>
          <div>{{trial.crMinAge}} - {{trial.crMaxAge}}</div>
          <div class="font-semibold ml-3">
            Gender:
          </div>
          <div>{{trial.crGender | titlecase}}</div>
        </div>
      </div>
    </div>

    <div class="flex flex-row justify-end gap-1">
      <div class="flex flex-row dateloc" [hidden]="!showListSelector || !authService.isLoggedIn()">
      <a class="group relative dropdown cursor-pointer tracking-wide px-2 flex flex-row border-slate-400 rounded no-underline gap-1" style="border-width: 1px;">
        <div class="text-in-button no-underline text-cool-blue-600">Add to list</div>
        <i class="bi-chevron-down w-4 text-cool-blue-600"></i>
        <div
          class="absolute z-[1000] mt-4 hidden list-none overflow-hidden rounded-lg bg-white opacity-85 backdrop-blur-md shadow-md group-hover:block right-0">
          <ul class="w-auto px-2 py-2 mb-0" *ngIf="allLists && allLists.length !== 0">
            <li *ngFor="let trialList of allLists" class="flex flex-row justify-between items-center gap-2">
              <a
                class="block whitespace-nowrap bg-transparent no-underline py-2 text-sm font-normal text-blue-950 hover:bg-blue-400"
                [class] = "listContains(trialList, trial) ? 'cursor-not-allowed hover:text-gray-500 text-gray-500' : 'cursor-default'"
                (click)="addTrialToList(trial, trialList)"
              >{{trialList.name}}</a>
              <div *ngIf="listContains(trialList, trial)">
                <app-confirm-button (confirm)="deleteTrialFromList(trial.id, trialList)" details="Trial list will be deleted from {{trialList.name}}.">
                  <a class="text-red-600 hover:text-red-900"
                     aria-label="Delete Trial List">
                    <i class="bi bi-trash"></i>
                  </a>
                </app-confirm-button>
              </div>
          </ul>
          <span *ngIf="allLists && allLists.length === 0" class="px-2 py-1 text-sm text-gray-500 cursor-default">Here&nbsp;is&nbsp;nothing</span>
        </div>
      </a>
    </div>
      <app-confirm-button (click)="buttonClicked($event)" (confirm)="deleteTrial.emit()" [details]="deleteText" [hidden]="!showDeleteButton">
        <button class="btn btn-sm rounded btn-danger">
          <i class="bi bi-trash"></i>
        </button>
      </app-confirm-button>
      <button class="btn btn-sm rounded btn-warning h-max"
              (click)="buttonClicked($event); editTrial.emit()"
              [hidden]="!showEditButton"
              aria-label="Edit Trial">
        <i class="bi bi-pencil"></i>
      </button>
      <button class="btn btn-sm rounded btn-secondary h-max"
              (click)="buttonClicked($event); showStatistics.emit()"
              [hidden]="!showStatisticsButton"
              aria-label="Show Trial Statistics">
        <i class="bi bi-graph-up"></i>
      </button>
    </div>
  </div>
</div>
