<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>View Requests</title>
</head>

<div class="fw-bold grid grid-cols-1 justify-items-center container ml-3 text-in-button">
  <div class="text-xl mb-3 mt-3"></div>
</div>

<div class="whitebox flex flex-column justify-center text-in-button my-10">

  <div class="hidden flex-row container w-full">
    <div class="flex flex-row w-full justify-between" style="align-items: center;">
      <button class="text-blue-400 hover:text-blue-600">Edit Favourites</button>
      <button class="text-red-400 hover:text-red-600">Clear List</button>
    </div>
  </div>
  <div class="flex flex-row container w-full mb-2">
    <div class="flex flex-row w-full text-blue-950 bg-blue-50" style="align-items: center; border-radius: 4px;">
      <i class="bi-search opacity-60 ml-4" style="color: #235491"></i>
      <input id="q" name="q" class="max-h-[2.5rem] my-0 inputfield mx-4 bg-blue-50"
             placeholder="Search in Current List">
    </div>
    <button class="bi-funnel-fill ml-4" style="color:#1e5075" onclick="q.value = '';"></button>
  </div>
  <hr class="mt-0 ml-4 mb-4 w-full" style="border: 2px solid #CDE2F0;">

  <table class="container w-fit" style="max-width: 1200px !important;">
    <thead [hidden]="(accepted === null || accepted.length === 0)">
    <th style="font-weight: 600">First Name</th>
    <th style="font-weight: 600">Last Name</th>
    <th style="font-weight: 600">E-Mail</th>
    </thead>
    <tbody [hidden]="accepted === null || accepted.length === 0">
    <tr class="w-fit h-10" *ngFor="let request of accepted"
        style="cursor: pointer">
      <td
        [routerLink]="['/doctor/my-patients', request.patient.id]">{{request.patient.firstName}}</td>
      <td
        [routerLink]="['/doctor/my-patients', request.patient.id]">{{request.patient.lastName}}</td>
      <td
        [routerLink]="['/doctor/my-patients', request.patient.id]">{{request.patient.email}}</td>
      <td style="width: 62px;">
        <button
          class="flex-initial bg-red-100 rounded w-fit py-2 px-4 text-red-700 font-semibold border-red-700 drop-shadow-sm text-sm"
          (click)="delete(request)"
          aria-label="Remove treating relationship">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
