<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Verification</title>
</head>

<div class="fw-bold grid grid-cols-1 justify-items-center container mt-3 ml-3">
  <div class="text-xl mb-3 mt-3"></div>
</div>

<div class="whitebox flex justify-center container mb-10">

  <div class="font-semibold grid grid-cols-1 justify-items-center container ml-3">
    <div class="text-lg">Congratulations, you are verified. You can now log into your account.</div>
    <button
      routerLink="/account/login"
      class="transition ease-in-out delay-100 duration-300 bg-blue-500
      hover:-translate-y-0 hover:scale-110 hover:bg-blue-400 rounded w-35 p-2 mt-5 h-10 text-white">
      Proceed to Login
    </button>
  </div>
</div>
