<div class="whitebox flex justify-center container mt-5 text-blue-950 relative">

  <div class="flex flex-col divide-y-[3px] w-[96%] mx-auto divide-[#CDE2F0]/[0.25]">
    <app-trial-list-item [trial]="trial"></app-trial-list-item>
  </div>

  <hr class="container">

  <section class="flex flex-col container align-items-center">
    <div class="inputfield flex flex-row container w-full mb-2">
      <div class="flex flex-row w-full text-blue-950 bg-blue-50" style="align-items: center; border-radius: 4px;">
        <i class="bi-search opacity-60 ml-4" style="color: #235491"></i>
        <input #searchInput (input)="searchChanged()" [(ngModel)]="search"
               class="max-h-[2.5rem] my-0 inputfield ml-4 bg-blue-50" placeholder="Search in Current List">
        <i (click)="search = ''; searchChanged()" class="bi-x-lg mr-2 flex" style="color: #1e5075"></i>
      </div>
    </div>
    <!--<div class="flex flex-row gap-2 w-full ml-4 align-items-center container">
      <label class="text-blue-950">Show All Patients</label>
      <input type="checkbox" [(ngModel)]="showAllPatients" class="rounded align-items-center">
    </div>-->
    <hr class="container" style="border: 2px solid #CDE2F0;">
    <div class="flex flex-col gap-2 w-full">
      <div *ngFor="let patient of patients"
           class="flex flex-col container w-full border-2 border-slate-100 rounded-md px-4 py-2"
           style="position: relative;">
        <div class="flex-initial single-button flex absolute h-3 w-3 top-0 left-0 -mt-1 -ml-1">
          <a class="group relative dropdown tracking-wide pb-2 flex flex-row">
            <span class="flex absolute h-3 w-3 top-0 left-0">
              <span class="animate-ping absolute inline-flex h-full w-full rounded-full {{ratingColor1(patient.score)}}"
                    style="animation: ping 1.5s linear forwards infinite"></span>
              <span class="relative inline-flex rounded-full h-3 w-3 {{ratingColor2(patient.score)}}"></span>
            </span>
            <div
              class="group-hover:cursor-text p-3 -mt-2 absolute border border-slate-100 top-6 z-10 w-96 hidden list-none overflow-hidden rounded-lg backdrop-blur-lg shadow-md group-hover:flex flex-row right gap-2">
              <i class="text-slate-600 bi bi-info-circle flex-initial"></i>
              <p class="text-justify text-xs text-slate-700 m-0">
                Relevance score of <b>{{normalizeScore(patient.score)}}</b> on a scale from 0 to 1 for patient
                <b>{{patient.firstName}} {{patient.lastName}}</b>.
                <br><br>
                0 represents the lowest score from found
                patients, while 1 represents the highest score. Beware that low scores do not mean that the patient
                is per se incompatible. The score merely represents relative value in comparison to all matched
                patients.
              </p>
            </div>
          </a>
        </div>

        <div class="flex flex-row w-full justify-content-between">
          <div class="flex flex-col justify-content-evenly justify-start">
            <div (click)="toggleShowDetails(patient)" class="hover:underline hover:cursor-pointer">
              <i class="bi bi-person-fill mr-2"></i>{{patient.firstName}} {{patient.lastName}}<i
              [class]="patient.gender === 'MALE' ? 'bi-gender-male' : 'bi-gender-female'" class="bi mx-2"></i>
            </div>
            <div>
              <i class="bi bi-envelope-fill mr-2"></i>
              {{patient.email}}
            </div>
          </div>
          <div class="flex flex-col justify-end">
            <div class="flex flex-row w-28">
              <i class="bi bi-calendar3 mr-2 justify-content-center"></i>
              <div>
                {{patient.birthdate | date: 'dd.MM.yyyy'}}
              </div>
            </div>
            <app-confirm-button (confirm)="registerPatient(patient)"
                                details="The registration is not final and will be reviewed."
                                prompt="Would you like to register this patient?"
                                [hidden]="isRegistered(patient)">
              <button class="btn btn-primary mt-2">Register</button>
            </app-confirm-button>
          </div>
        </div>
        <div *ngIf="isShowDetails(patient)" class="flex flex-col">

          <div *ngIf="patient.diagnoses.length > 0 || patient.examinations.length > 0"
               class="flex flex-row justify-content-start">
            <dl>
              <dt *ngIf="patient.diagnoses.length > 0" class="list-disc">Diagnoses:</dt>
              <dd *ngFor="let diagnose of patient.diagnoses" class="list-item ml-10">
                {{diagnose.disease.name}}
              </dd>
              <dt *ngIf="patient.examinations.length > 0" class="list-disc">Examinations:</dt>
              <dd *ngFor="let examination of patient.examinations" class="list-item ml-10">
                {{examination.name}}
              </dd>
            </dl>
          </div>
          <div class="text-justify">
            {{patient.admissionNote}}
          </div>
        </div>
      </div>
      <p *ngIf="isEmpty" [innerHTML]="emptyListText" class="text-gray-400"></p>
    </div>
  </section>

</div>
