<div class="whitebox flex justify-center container mt-5 text-blue-950 relative">

  <div class="flex flex-col divide-y-[3px] w-[96%] mx-auto divide-[#CDE2F0]/[0.25]">
    <app-trial-list-item [showDeleteButton]="false" [showEditButton]="false" [trial]="trial"></app-trial-list-item>
  </div>

  <hr class="container">

  <section class="flex flex-col container align-items-center">
    <div class="flex flex-row container w-full mb-2">
      <div class="flex flex-row w-full text-blue-950 bg-blue-50" style="align-items: center; border-radius: 4px;">
        <i class="bi-search opacity-60 ml-4" style="color: #235491"></i>
        <input #searchInput (input)="searchChanged($event)"
               class="max-h-[2.5rem] my-0 inputfield ml-4 bg-blue-50" placeholder="Search in Current List">
        <i (click)="searchInput.value = '';" class="bi-x mr-2 flex" style="color: #1e5075"></i>
      </div>
    </div>
    <!--<div class="flex flex-row gap-2 w-full ml-4 align-items-center container">
      <label class="text-blue-950">Show All Patients</label>
      <input type="checkbox" [(ngModel)]="showAllPatients" class="rounded align-items-center">
    </div>-->
    <hr class="container" style="border: 2px solid #CDE2F0;">
    <div class="flex flex-col gap-2 w-full">
      <div *ngFor="let patient of patients"
           class="flex flex-col container w-full border-2 border-slate-100 rounded-md px-4 py-2">
        <div class="flex flex-row w-full justify-content-between">
          <div class="flex flex-col justify-content-evenly">
            <div (click)="toggleShowDetails(patient)" class="hover:underline hover:cursor-pointer">
              <i class="bi bi-person-fill mr-2"></i>{{patient.firstName}} {{patient.lastName}}<i
              [class]="patient.gender === 'MALE' ? 'bi-gender-male' : 'bi-gender-female'" class="bi mx-2"></i>
            </div>
            <div>
              <i class="bi bi-envelope-fill mr-2"></i>
              {{patient.email}}
            </div>
          </div>
          <div class="flex flex-col">
            <div>
              <i class="bi bi-calendar3 mr-2"></i>
              {{patient.birthdate | date: 'dd.MM.yyyy'}}
            </div>
            <app-confirm-button (confirm)="registerPatient(patient)"
                                details="The registration is not final and will be reviewed."
                                prompt="Would you like to register this patient?"
                                [hidden]="isRegistered(patient)"
            >
              <button class="btn btn-primary mt-2">Register</button>
            </app-confirm-button>
          </div>
        </div>
        <div *ngIf="isShowDetails(patient)" class="flex flex-col">

          <div *ngIf="patient.diagnoses.length > 0 || patient.examinations.length > 0" class="flex flex-row justify-content-start">
            <dl>
              <dt *ngIf="patient.diagnoses.length > 0" class="list-disc">Diagnoses:</dt>
              <dd *ngFor="let diagnose of patient.diagnoses" class="list-item ml-10">
                {{diagnose.disease.name}}
              </dd>
              <dt *ngIf="patient.examinations.length > 0" class="list-disc">Examinations:</dt>
              <dd *ngFor="let examination of patient.examinations" class="list-item ml-10">
                {{examination.name}}
              </dd>
            </dl>
          </div>
          <div>
            {{patient.admissionNote}}
          </div>
        </div>
      </div>
      <p *ngIf="isEmpty" [innerHTML]="emptyListText" class="text-gray-400"></p>
    </div>
  </section>

</div>
