<div class="whitebox flex justify-center container mt-5 text-blue-950 relative">
  <div class="fw-bold grid grid-cols-1 justify-items-center container mt-3 ml-3">
    <div class="text-lg">My Trials</div>
  </div>

  <hr class="container">

  <div class="flex flex-col divide-y-[3px] w-[96%] mx-auto divide-[#CDE2F0]/[0.25]">
    <app-trial-list-item (deleteTrial)="delete(trial)"
                         (editTrial)="edit(trial)"
                          (showStatistics)="router.navigate(['/researcher/trials/statistics', trial.id])"
                         *ngFor="let trial of trials"
                         [showDeleteButton]="true"
                         [showEditButton]="true"
                         [showStatisticsButton]="true"
                         [trial]="trial"></app-trial-list-item>
  </div>

</div>
