<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Password</title>
</head>

<div class="fw-bold grid grid-cols-1 justify-items-center container mt-3 ml-3 text-in-button">
  <div class="text-xl mb-3 mt-3">Please set your Password</div>

  <div class="container grid grid-cols-2">
    <div class="flex flex-row">
      <div class="flex flex-col flex-initial">
        <div class="fw-bold mb-3 mt-3"><i class="bi bi-key-fill mr-2"></i></div>
        </div>
      <div class="flex flex-col flex-initial">
        <div class="fw-bold mb-3 mt-3">New Password:</div>
        </div>
      <div class="flex flex-col flex-1">
        <input type="password" placeholder="Enter your New Password" class="ml-5 mr-5 h-10 mb-2 mt-2 inputfield border-0"
               [class]="dynamicCssClassesForInput(pwdModel)"
               [(ngModel)]="toRegister.password" #pwdModel="ngModel">
      </div>
    </div>

    <div class="flex flex-row">
      <div class="flex flex-col flex-initial">
        <div class="fw-bold mb-3 mt-3"><i class="bi bi-key mr-2"></i></div>
      </div>
      <div class="flex flex-col flex-initial">
        <div class="fw-bold mb-3 mt-3">Repeat Password:</div>
      </div>
      <div class="flex flex-col flex-1">
        <input type="password" placeholder="Repeat your Password" class="ml-5 mr-5 h-10 mb-2 mt-2 inputfield border-0"
               [class]="dynamicCssClassesForInput(repeatModel)"
               [(ngModel)]="checkpwd" #repeatModel="ngModel">
      </div>
    </div>
  </div>

  <button type="button" (click)="submit()" class="btn btn-success text-white transition ease-in-out delay-100 duration-300 hover:-translate-y-0 hover:scale-110 hover:bg-blue-400">
          <!--class="rounded w-35 p-3 mt-2 h-10 text-white transition ease-in-out delay-100 duration-300 bg-blue-500 hover:-translate-y-0 hover:scale-110 hover:bg-blue-400">-->
    Complete Registration
  </button>
</div>
