.inputfield {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  background: rgba(205, 226, 240, 0.4);
  border-radius: 2px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

::placeholder {
  color: #235491;
  opacity: 0.6;
  font-size: 14px;
}
