<div class="fw-bold grid grid-cols-1 justify-items-center container ml-3 text-in-button">
  <div class="text-xl mb-3 mt-3"></div>
</div>

<div class="whitebox flex flex-column justify-center text-in-button my-10"
     [style]="isEmpty ? 'display: block; text-align: center;': ''">
  <div class="hidden flex-row container w-full">
    <div class="flex flex-row w-full justify-between" style="align-items: center;">
      <button class="text-blue-400 hover:text-blue-600">Edit Favourites</button>
      <button class="text-red-400 hover:text-red-600">Clear List</button>
    </div>
  </div>
  <div class="flex flex-row container w-full mb-2">
    <div class="flex flex-row w-full text-blue-950 bg-blue-50" style="align-items: center; border-radius: 4px;">
      <i class="bi-search opacity-60 ml-4" style="color: #235491"></i>
      <input (input)="searchChanged()" [(ngModel)]="search" class="max-h-[2.5rem] my-0 inputfield mx-4 bg-blue-50" id="q"
             #q placeholder="Search in Current List">
      <button class="bi-x-lg ml-1 mr-2" (click)="search = ''; searchChanged()" style="color:#1e5075"></button>
    </div>
  </div>
  <hr class="mt-0 ml-4 w-full" style="border: 2px solid #CDE2F0;">
  <table *ngIf="!isEmpty" class="container w-fit">
    <thead>
    <th style="font-weight: 600">First Name</th>
    <th style="font-weight: 600">Last Name</th>
    <th style="font-weight: 600">Birthday</th>
    </thead>
    <tbody>
    <tr *ngFor="let patient of patients | paginate: { id: 'server', itemsPerPage: size, currentPage: page, totalItems: patients.length }">
      <td>{{patient.firstName}}</td>
      <td>{{patient.lastName}}</td>
      <td>{{patient.birthdate | date: 'dd.MM.yyyy'}}</td>
      <td style="width: 62px">

        <button
          (click)="requestUser(patient)"
          *ngIf="patient.treats === null"
          aria-label="Request to treat this user"
          class="flex-initial bg-blue-100 rounded w-fit py-2 px-4 text-blue-700 font-semibold border-blue-700 drop-shadow-sm text-sm">
          <i class="bi bi-clipboard-plus"></i>
        </button>

        <button
          *ngIf="patient.treats !== null && patient.treats.status === 'REQUESTED'"
          aria-label="Waiting on user to accept request"
          class="flex-initial bg-orange-100 rounded w-fit py-2 px-4 text-orange-700 font-semibold border-orange-700 drop-shadow-sm text-sm"
          disabled>
          <i class="bi bi-hourglass"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <p *ngIf="isEmpty" class="text-gray-400" [innerHTML]="emptyListText"></p>
  <hr class="mt-0 ml-4 w-full" style="border: 2px solid #CDE2F0;">
  <div class="container flex flex-row">
    <div class="flex justify-start" style="position:absolute;">
      <select [(ngModel)]="this.size"
              class="m-0 hover:cursor-pointer justify-end  rounded border border-slate-300"
              id="size"
              name="size"
              style="background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAyNCAyNCcgc3Ryb2tlLXdpZHRoPScxLjUnIHN0cm9rZT0nIzc4OThiZCcgY2xhc3M9J3ctNiBoLTYnPjxwYXRoIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLWxpbmVqb2luPSdyb3VuZCcgZD0nTTE5LjUgOC4yNWwtNy41IDcuNS03LjUtNy41JyAvPjwvc3ZnPgo=');                        background-position: right 0.5rem center;
                    background-repeat: no-repeat;
                    background-size: 1.5em 1.5em;">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
      </select>
    </div>
    <div class="flex justify-center items-center flex-grow">
      <pagination-controls (pageChange)="page = $event" id="server"
                           class="pagination-controls"></pagination-controls>
    </div>
  </div>
</div>


