<input type="text"
       class="max-h-[2.5rem] mr-2 h-10 mb-2 mt-2 inputfield border-0 flex-1 flex"
       placeholder="Disease"
       [attr.list]="dataListId"
       [ngClass]="textInputClass"
       [(ngModel)]="inputText"
       (ngModelChange)="inputChange.next($event)"
       [disabled]="disabled"
       (blur)="resetInputText()"
       >
<datalist [id]="dataListId" [ngClass]="datalistClass">
  <option *ngFor="let candidateEntry of valueCandidates | keyvalue" [value]="formatModel(candidateEntry.value)">
</datalist>
